.footer {
  padding: 50px 0;
}

.footer-col {
  background-color: white;
  border-radius: 30px;
}
.padding-footer {
  padding: 5%;
}
.footer-columns {
  display: flex;
  justify-content: center;
}

.footer ul {
  color: var(--Ink-600, #5c5c5e);

  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: baseline;
}

.footer li {
  color: var(--Ink-600, #5c5c5e) !important;
  margin: 0;

  background-color: unset;
}
.footer-title {
  color: var(--Ink-700, #343435) !important;

  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}

.footer-link:hover {
  color: var(--Solid-Primary-Original, #f82428) !important;

  font-weight: 700;

  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: none;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
}
.footer-active-link {
  font-weight: 700;
  color: var(--Solid-Primary-Original, #f82428);
  text-decoration-line: underline !important;
  text-decoration-style: solid;
  text-decoration-skip-ink: none;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
}
.footer-active-link:hover {
  color: var(--Solid-Primary-Original, #f82428);
}
.footer-link:active {
  color: var(--Solid-Primary-Original, #f82428) !important;

  font-weight: 700;

  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: none;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
}
.footer-socials {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 30px;
  padding: 30px 0;
}
.footer-socials span {
  color: rgba(132, 132, 135, 1);
  transition: 0.3s ease;
}
.footer-socials span:hover {
  transform: scale(1.1);
}
.copyright {
  color: var(--Ink-500, #848487);
  font-family: Montserrat;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
@media (max-width: 768px) {
  .footer {
    padding: unset !important;
  }
  .footer-columns {
    justify-content: start;
    flex-direction: column;
    gap: 30px;
  }
  .footer-col {
    padding-top: 5%;
    padding-bottom: 5%;
  }
  .padding-footer {
    gap: 30px !important;
  }
}
