.arrow {
  transform: rotate(45deg);
  font-size: 2rem;
  flex-shrink: 0;
}
.jumbocarousel-container{
  margin-top: 5%;
}

.jumbo-carousel-slide {
  overflow: hidden;
  position: relative;

  color: white;
  text-align: center;
  height: 100vh; /* Full viewport height */
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-content {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  position: relative;
}

.jumbo-carousel-image {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
}

.jumbo-carousel-heading {
  line-height: 100%;

  margin: 0 !important;
  padding: 0;
  position: absolute;

  left: 50%;
  transform: translateX(-50%);

  font-family: "Montserrat";
  font-style: normal;
  font-size: 15rem;
  opacity: 0.71;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.9);
}
.jumbo-carousel-slide {
  position: relative;
}
.jumbo-carousel-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.jumbo-carousel-card {
  width: 40%;
  position: absolute;
  bottom: 2%;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 12px;
  z-index: 2;
}
.jumbo-carousel-card p {
  text-align: start;
}

@media (max-width: 768px) {
  .jumbo-carousel-card {
    width: 100%;
  }
  .jumbo-button {
    width: 100%;
    padding: 3% !important;
  }
}
